*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mochiy-pop-p-one-regular {
    font-family: "Mochiy Pop P One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
  
.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
} 
.jumbotron{
    background-image: url('./images/daniel-lincoln-jqHcTWAIpiw-unsplash.jpg');
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
} 
.contain{
    position: relative;
    text-align: center;
    color: rgb(245, 212, 2);
}
.centered{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.elem-group.inlined {
    width: 49%;
    display: inline-block;
}
.contact-area {
    border-bottom: 1px solid #353C46;
}
.bloglist{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.blog {
  padding: 1rem;
  border: 1px solid darkgray;
  border-radius: 0.5rem;
}
.blog img{
  width: 100%;
}
.blog p{
  font: size 0.9rem;
}
@media only screen and (min-width: 576px) {
  .bloglist{
   display: grid;
   grid-template-columns: 1fr 1fr;
  }
 }
 @media only screen and (min-width: 768px) {
  .bloglist{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   }
 }
 @media only screen and (min-width: 992px) {
  .bloglist{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
     }
}
@media only screen and (min-width: 1200px){
  .bloglist{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   }
}